{% extends "base.html" %}

{% block page_content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td></td>
                <td>ID  </td>
                <td>Patient  </td>
                <td>Symptom Type  </td>
                <td>Details </td>
                <td>Extra Comments  </td>
                <td>Date Submitted  </td>
                <td>Location  </td>
                <td>Phone Number  </td>
            </tr>
        </thead>
        <tbody>
        {% for symptom in symptoms %}
            <tr>
                <td bgcolor="{{ symptom[9] }}"></td>
                <td>{{ symptom[0] }}</td>
                <td>{{ symptom[1] }}</td>
                <td>{{ symptom[2] }}</td>
                <td>{{ symptom[3] }}</td>
                <td>{{ symptom[4] }}</td>
                <td>{{ symptom[5] }}</td>
                <td>{{ symptom[6] }}</td>
                <td>{{ symptom[7] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}